.author {
    text-align: center;
    padding: 15px;
}

.author .avatar {
    max-width: 150px;
    border-radius: 50%;
    border: solid 2px rgb(92, 184, 92);
}

.author .title {
    margin: 0;
}

@media (max-width: 750px) {
    .author {
        order: 0;
    }
}