.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.card-list .card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

    overflow: hidden;
}
.card {
    display: flex;
    flex-flow: column;
}
.card .image {
    overflow: hidden;
    height: 190px;
}

.card .text {
    padding: 0 20px 20px;
    text-align: center;
}

.card-list img {
    max-width: 100%;

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.card-list img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-title {
    font-size: 23px;
    font-weight: 700;

    margin: 20px;
}
.card-information {
    margin-top: auto;
    font-size: 13px;

}
.timestamp {
    margin: 0 16px 0 0;
    color: #999999;
}
.card-information a {
    color: #999999;
    text-decoration: none;
}
