.comment {
    display: flex;
    border-bottom: #5cb85c solid 1px;
    margin-top: 10px;
    padding: 10px 0;
}

.comment .avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.comment .text {
    align-self: center;
    text-align: left;
    overflow: hidden;
    padding: 0 15px;
    width: 100%;
}
.comment .name {
    font-weight: 700;
}
.comment .descr {
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 750px) {
    .last-comments {
        order: 6;
    }
}
